
<<<<<<< HEAD

=======
>>>>>>> 6a989583507d28cc308bca3599a517af61caa9c0
<p>
  <strong>User name:</strong>
  <%= @comment.user_name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Event:</strong>
  <%= @comment.event_id %>
</p>

<<<<<<< HEAD
<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
=======
<%= link_to '編集', edit_comment_path(@comment) %> |
<%= link_to '戻る', comments_path %>
>>>>>>> 6a989583507d28cc308bca3599a517af61caa9c0
