<h1>Editing event</h1>

<%= render 'form' %>

<<<<<<< HEAD
<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
=======
<%= link_to '表示', @event %> |
<%= link_to '戻る', events_path %>
>>>>>>> 6a989583507d28cc308bca3599a517af61caa9c0
