<div>
  
  <div style= "position:absolute; top:100px; left:50px;">
    <Font size = "4">
    <table>
      <tr>
        <td><b>イベント名:</b></td>
        <td><b><%= @event.name %></b></td>
      </tr>
      <tr>
        <td><b>開始日時:</b></td>
        <td><%= @event.startdate.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
      <tr>
        <td><b>終了日時:</b></td>
        <td><%= @event.enddate.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
      <tr>
        <td><b>備考:</b></td>
        <td><%= @event.description %></td>
      </tr>
    </table>
    </Font>
  </div>
  
  <div style= "position:absolute; top:150px; left:550px;">
    <p><Font size = "4">
      <%= link_to '編集', edit_event_path(@event) %> |
      <%= link_to '削除', @event, data: { confirm: '削除してもよろしいですか？' }, method: :delete %> |
      <%= link_to '戻る', events_path %>
    </Font></p>
  </div>
  
  <div style= "position:absolute; top:350px; left:50px;">
    <p><b><Font size = "4">参加者リスト</Font></b></p>
      <table>
        <tr>
          <td width="100"><b>名前</b></td>
          <td width="200"><b>コメント</b></td>
          <td></td>
          <td></td>
        </tr>
        <% @comments.each do |comment| %>
          <tr>
            <td width="100"><strong><%= comment.user_name %></strong></td>
            <td width="200"><%= comment.body %></td>
            <td width="50"><%= link_to '編集', edit_comment_path(comment) %>
            <td width="100"><%= link_to '取り消し', comment_path(comment), method: :delete, data: { confirm: '参加を取り消してもよろしいですか？' } %></td>
          </tr>
        <% end %>
      </table>
  </div>
  
  <div style= "position:absolute; top:350px; left:550px;">
    <p><b>参加登録</b></p>
    
    <%= render 'comments/form' %>
  </div>
  
</div>
